@keyframes moveImageBorder{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

@keyframes moveArrowDown{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

@keyframes moveCircle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}