.tips{
    display: inline-block;
    min-width: 55px;
    text-align: center;
    text-transform: uppercase;
    color: $basicWhite;
    font-size: (12rem / 16);
    line-height: (16rem / 16);
    padding: 3px 6px;
    border-radius: 2px;
    background-color: $basicOrange;
}